
html, body {
    font-family: "AR One Sans", sans-serif;
    color: #2a2922;
    font-size: 15px;
    background-color: #F2F2F2;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

a {
    text-wrap: normal;
}

.container {

}

header {
    position: fixed;
    top: 0;
}

main {
    margin-top: 90px;
}


.logo-handler {
    color: #2a2922;
    width: 80px;
    min-width: 40px;
    font-weight: bold;
    margin-right: auto;
}

.nav-bar {
    width: 99vw;
    background-color: rgb(53, 27, 78);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    padding: 5px;
}

.nav-wrapper {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu-bar {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.menu-bar li {
    display: inline-block;
}

.menu-bar li a {
    display: inline-block;
    text-decoration: none;
    /*margin-right: 40px;*/
    padding: 10px;
    transition: all .07s ease-in-out;
    color: white;
}

.menu-bar li a:hover {
    opacity: 0.7;
}

.menu-bar_active {
    font-weight: bold;
}

.menu-bar_item {
    font-size: 20px;
}


.site-header ul {
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}


.city-center-text h1 {
    margin-left: 2rem;
    font-size: 30px;
}

.type-events-filter {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filter-bar {
    margin-left: auto;
    height: inherit;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 40px;
}

.filter-bar li {
    background-color: white;
    display: inline;
    padding: 15px 24px;
    cursor: pointer;
    float: left;
    font-weight: bold;
    border-radius: 7px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}


.search-container {
    display: flex;
    flex-flow: row;
    width: 100vw;
}


@media (max-width: 1190px) {
    .event-parameters {
        display: none !important;
    }
}

.event-parameters {
    margin-top: 0.9rem;
    width: 30%;
    display: flex;
    flex-flow: column;
    grid-area: A;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    height: 60%;
    border-radius: 7px;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    font-family: 'AR One Sans', sans-serif;
    background-color: white;
}

.event-parameters__filter-header {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
}

.event-parameters__filter-header h2 {
    margin-right: auto;
    padding-left: 1.5rem;
    margin-top: 0;
    align-items: center;
}

.event-parameters__filter legend {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding-top: 0;
    font-weight: bold;
    color: #4D4D4D;
    font-size: 1.1rem;
    justify-content: center;
}


.event-parameters__filter li {
    list-style-type: none;

}


.event-parameters__filter {
    display: flex;
}

.event-parameters__filter ul {
    margin-top: 0 !important;
}

.filter-radio-button input[type=radio]:checked + label {
    background: #B97FFA;
}


.events h2 {
    font-size: 35px;
    margin-left: 100px;
}

@media (max-width: 550px) {
    main {
        margin-top: 310px;
    }
}

@media (max-width: 360px) {
    .events__search-result {
        padding-left: 0;
    }
}

.events__item-box {
    /*width: 50.33vw !important;*/
}

@media (max-width: 768px) {
    /*.events__item-box {*/
    /*    width: 33.33vw !important;*/
    /*}*/
}

@media (max-width: 480px) {
    /*.events__item-box {*/
    /*    width: 50vw !important;*/
    /*}*/
}

@media (max-width: 320px) {
    /*.events__item-box {*/
    /*    width: 100vw !important;*/
    /*}*/

    .city-center-text h1 {
        display: none;
    }

    .filter-bar {
        padding: 0;
    }
}


.events {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.events__item-box:nth-child(even) {
    background-color: #cfd1d3;
}

.events__item-box {
    width: 20vw;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    border-radius: 7px;
    padding: 5px;
    /*width: 33%;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-flow: column;*/
    /*justify-content: space-evenly   ;*/
}

.events__image img {
    width: 100%;
}


.events__search-result {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    /*flex-wrap: wrap;*/
    /*flex-flow: row;*/
    padding-left: 5%;
    padding-right: 3%;
    grid-gap: 1rem;
    justify-content: space-evenly;
    list-style-type: none;
}

.events__item {
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 28px;
    padding: 0 15px;
    background-color: white;
    vertical-align: top;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.events__item img {
    /*height: 60%;*/
    width: 10vw;
    border-radius: 7px;
    padding-top: 1rem;
}

.event-price {
    display: inline;
    color: dimgray;
}


.events__item-description {
    display: flex;
    flex-flow: column;
}

.events__item-name {
    font-weight: bold;
}

.events__add-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}


.event-place {
    display: inline;
    color: dimgray;
}


.footer-bar {
    width: 100%;
    height: 80px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
}


.footer-bar__links {
    margin-left: auto;
    padding: 0;
    /*width: 30%;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

/*.footer-bar li {*/
/*    display: inline-block;*/
/*    margin-right: 40px;*/
/*    padding: 10px;*/
/*    transition: all .07s ease-in-out;*/
/*}*/

.footer-bar a {
    display: inline-block;
    text-decoration: none;
    transition: all .07s ease-in-out;
    color: #2a2922;
}


label {
    font-family: 'AR One Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

.filter-radio-button {
    display: inline-block;
    color: #2a2922;
    margin-right: 10px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    border-radius: 6px;
}

.filter-radio-button label {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    border-radius: 6px;
    user-select: none;
    text-decoration: none;
}

.filter-radio-button input[type=radio] {
    display: none;
}

.review-form {
    display: flex;
    margin-top: 0.9rem;
    margin-left: 0.9rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    grid-area: A;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    height: 60%;
    border-radius: 7px;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    font-family: 'AR One Sans', sans-serif;
    background-color: white;

}

.review-form label {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}

.review-form p {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    display: list-item;
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}

.submit_button {
    text-align: center;
    display: list-item;
    margin: 10px auto;
    width: 40%;
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}


.all-reviews-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.all-reviews_container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.all-reviews_header {
    background-color: #f2f2f2;
    font-weight: bold;
}

.all-reviews_header th {
    padding: 10px;
    text-align: left;
}

.review_row:nth-child(even) {
    background-color: #f2f2f2;
}

.review_row:hover {
    background-color: #e2e2e2;
}

.reviewer_name,
.reviewer_surname,
.reviewer_event_type,
.reviewer_event_stat {
    padding: 10px;
}

.all-reviews-title {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    display: list-item;
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}


.articles-header-text h1 {
    margin-left: 10rem;
    padding-top: 2rem;
    font-size: 30px;
}


.articles-container {
    display: flex;
    justify-content: space-evenly;
}

.articles-content {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.article-title {
    font-weight: bold;
    padding-left: 2rem;
    font-size: 1.2em;
    color: #333;
}

.article-body {
    color: #666;
}

.glide * {
    margin: 0 auto;
}


.shaded_button {
    opacity: 1;
    color: #2a2922 !important;
    background: #B97FFA !important;
    font-weight: 800;
}

